.additional-product__title {
  line-height: 16px;
  font-weight: inherit;

  @include oswald-arial;
}

.additional-product__link {
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
}

.additional-product__price {
  text-transform: uppercase;
}

@media (max-width: $mobile-max) {
  .additional-product__item {
    border-top: 1px solid $grey-cd;
    margin-bottom: 20px;
  }

  .additional-product__value-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .additional-product__link-block {
    margin-top: 10px;
  }

  .additional-product__link-order {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .additional-product {
    padding: 0 35px;
  }

  .additional-product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__info-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .additional-product__item {
    margin-bottom: 20px;
    border-top: 1px solid $grey-cd;
  }

  .additional-product__value-wrap {
    width: 230px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .additional-product__link-block {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .additional-product__link-order {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

@media (min-width: $desktop) {
  .additional-product {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .additional-product__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-product__info-wrap {
    width: 575px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .additional-product__value-wrap {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }

  .additional-product__link-block {
    margin-left: 20px;
    margin-top: 5px;
  }

  .additional-product__link-order {
    width: 235px;
    padding: 10px 0;
    text-align: center;
  }

  .additional-product__item {
    margin-bottom: 20px;
    border-top: 1px solid $grey-cd;
  }
}
