.button {
  color: $white;
  text-decoration: none;
  background-color: $green;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;

  @include oswald-arial;
}

.button--show {
  background-color: $grey-light;
  color: $grey-dark;
}
