.contacts__info-block {
  background-color: $grey-light;
  margin-bottom: -14px;
  margin-top: -14px;
}

.contacts--background .contacts__info-block {
  background-color: $white;
}

.contacts__info-title {
  font-size: 16px;
  font-weight: inherit;
  line-height: 18px;
  text-transform: uppercase;
  color: $black2;

  @include oswald-arial;
}

.contacts__info-address {
  line-height: 20px;
}

@media (max-width: $mobile-max) {
  .contacts__info-block {
    display: flex;
    padding: 15px 20px 20px 20px;
  }

  .contacts__info-title {
    margin-right: 20px;
  }

  .contacts__map {
    position: relative;
    overflow: hidden;
    max-width: 320px;
    height: 362px;
    background-color: $grey-d9;
    margin: 0 auto;
  }

  .contacts__map-if {
    position: absolute;
    border: none;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .contacts__map-img {
    max-width: 100%;
    height: 362px;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .contacts__info-block {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px 40px 40px;
    margin: 0 auto;
  }

  .contacts__info-title {
    text-align: left;
    font-size: 20px;
    line-height: 21px;
  }

  .contacts__info-address {
    margin-left: 350px;
    text-align: right;
    line-height: 20px;
  }

  .contacts__map {
    position: relative;
    overflow: hidden;
    width: 768px;
    height: 400px;
    background-color: $grey-d9;
    margin: 0 auto;
  }

  .contacts__map-if {
    position: absolute;
    border: none;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .contacts__map-img {
    max-width: 100%;
    height: 400px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    position: relative;
    width: 1440px;
    margin: 0 auto;
  }

  .contacts--index .contacts__info-block {
    position: absolute;
    width: 570px;
    min-height: 201px;
    top: 25%;
    left: 8%;
    background-color: $white;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contacts__info-title {
    width: 121px;
    font-size: 20px;
    line-height: 21px;
    margin-left: 60px;
  }

  .contacts__info-address {
    width: 155px;
    text-align: left;
    margin-right: 60px;
    line-height: 20px;
  }

  .contacts__map {
    position: relative;
    width: 1440px;
    height: 400px;
    background-color: $grey-d9;
    margin: 0 auto;
  }

  .contacts__map-if {
    position: absolute;
    border: none;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .contacts__map-img {
    max-width: 100%;
    height: 400px;
  }
}
