.copyright__link {
  text-decoration: none;
  color: $grey-dark;
  font-size: 16px;
  line-height: 18px;
}

.copyright__link-logo {
  fill: $grey-66;
}

.copyright:hover .copyright__link-logo,
.copyright:focus .copyright__link-logo {
  fill: $green;
}

.copyright:active .copyright__link-logo,
.copyright__link:active {
  opacity: 0.3;
}

@media (max-width: $mobile-max) {
  .copyright {
    width: 280px;
    margin-top: 35px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .copyright__link-logo-block {
    margin-top: -5px;
  }

  .copyright__link-logo {
    transform: scale(1.5);
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .copyright {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
  }

  .copyright__link-logo {
    transform: scale(1.2);
  }

  .copyright__link-logo-block {
    margin-top: -8px;
    margin-left: 15px;
  }
}

@media (min-width: $desktop) {
  .copyright {
    display: flex;
    flex-direction: row;
  }

  .copyright__link-logo {
    transform: scale(1.2);
  }

  .copyright__link-logo-block {
    margin-top: -8px;
    margin-left: 15px;
  }
}
