.example {
  position: relative;
  background-color: $grey-ea;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
  color: $black;

  @include oswald-arial;
}

.example__descryption {
  line-height: 18px;
}

.example__statistics-value {
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;

  @include oswald-arial;
}

.example__statistics-mark {
  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  @include oswald-arial;
}

@media (max-width: $mobile-max) {
  .example__container {
    padding-top: 1px;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .example__descryption {
    padding-right: 10px;
  }

  .example__statistics {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .example__statistics-item {
    text-align: center;
  }

  .example__statistics-weightloss {
    width: 70px;
  }

  .example__statistics-timespent {
    width: 90px;
  }

  .example__statistics-mark {
    margin-top: 5px;
  }

  .example__costs-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .example {
    background: none;
  }

  .example__info-block {
    background-color: $white;
    margin: 0 auto;
    min-height: 480px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__statistics {
    display: flex;
    margin-top: 40px;
  }

  .example__descryption {
    font-size: 16px;
    line-height: 20px;
  }

  .example__statistics-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__statistics-mark {
    margin-top: 5px;
  }

  .example__statistics-item {
    width: 125px;
    text-align: center;
  }

  .example__costs-block {
    display: flex;
    justify-content: flex-end;
    margin-top: -60px;
    margin-left: auto;
    text-align: right;
    width: 180px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 20px;
  }

  .example__toggle {
    min-height: 462px;
    background-color: $grey-ea;
    margin: 0 -30px;
  }
}

@media (min-width: $desktop) {
  .example {
    min-height: 462px;
  }

  .example__container {
    padding: 40px 0;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
  }

  .example__info-block {
    position: relative;
  }

  .example__title-block {
    position: absolute;
    top: -220px;
    left: 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__descryption {
    width: 446px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }

  .example__statistics {
    display: flex;
    margin-top: 100px;
  }

  .example__statistics-item {
    width: 130px;
    text-align: center;
  }

  .example__statistics-weightloss {
    margin-right: 30px;
  }

  .example__statistics-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__statistics-mark {
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
  }

  .example__costs-block {
    margin-top: 50px;
  }

  .example__cost {
    font-size: 20px;
  }

  .example__cost-value {
    margin-left: 40px;
  }
}
