.example {
  position: relative;
  background-color: $grey-ea;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
  color: $black;

  @include oswald-arial;
}

.example__description {
  line-height: 18px;
}

.example__statistics-value {
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;

  @include oswald-arial;
}

.example__statistics-mark {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.example__cost {
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  @include oswald-arial;
}

@media (max-width: $mobile-max) {
  .example {
    margin-top: 40px;
  }

  .example__container {
    padding-top: 1px;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .example__description {
    padding-right: 10px;
  }

  .example__statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  .example__statistics-item {
    width: 124px;
    text-align: center;
  }

  .example__statistics-value {
    border: 1px solid $grey-cd;
    border-radius: 3px;
    padding: 15px 0;
  }

  .example__statistics-mark {
    width: 90px;
    text-align: center;
    margin: 0 auto;
    margin-top: -8px;
    padding: 0 0;
    background-color: $grey-ea;
  }

  .example__statistics-weightloss .example__statistics-mark {
    padding: 0 10px;
  }

  .example__costs-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .example {
    background: none;
  }

  .example__info-block {
    background-color: $white;
    margin: 0 auto;
    min-height: 570px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 35px;
  }

  .example__statistics {
    display: flex;
    margin-top: 50px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 65px;
    margin-right: 10px;
  }

  .example__statistics-value {
    border: 1px solid $grey-cd;
    border-radius: 3px;
    padding: 15px 0;
    font-size: 30px;
    line-height: 37px;
  }

  .example__statistics-weightloss {
    margin-right: 43px;
  }

  .example__statistics-mark {
    width: 142px;
    margin: 0 auto;
    margin-top: -8px;
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
  }

  .example__statistics-weightloss .example__statistics-mark {
    width: 112px;
  }

  .example__statistics-item {
    width: 162px;
    text-align: center;
  }

  .example__costs-block {
    display: flex;
    justify-content: flex-end;
    margin-top: -85px;
    margin-left: auto;
    text-align: right;
    width: 180px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 20px;
  }

  .example__cost-value {
    display: block;
    margin-top: 10px;
  }

  .example__toggle {
    min-height: 462px;
    background-color: $grey-ea;
    margin: 0 -30px;
  }
}

@media (min-width: $desktop) {
  .example {
    min-height: 462px;
    background-image: linear-gradient(to right, $grey-light 0%, $grey-light 72.3%, $grey-ea 72.3%, $grey-ea 100%);
  }

  .example__container {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
  }

  .example__layout {
    min-height: 462px;
    padding-top: 40px;
    padding-bottom: 45px;
    background-image: linear-gradient(to right, $grey-light 0%, $grey-light 72.3%, $grey-ea 72.3%, $grey-ea 100%);
  }

  .example__info-block {
    position: relative;
  }

  .example__title-block {
    position: absolute;
    top: -255px;
    left: 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    width: 446px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }

  .example__statistics {
    display: flex;
    margin-top: 70px;
  }

  .example__statistics-item {
    width: 162px;
    text-align: center;
  }

  .example__statistics-value {
    border: 1px solid $grey-cd;
    border-radius: 3px;
    padding: 15px 0;
    font-size: 30px;
    line-height: 37px;
  }

  .example__statistics-weightloss {
    margin-right: 40px;
  }

  .example__statistics-mark {
    width: 142px;
    margin: 0 auto;
    margin-top: -8px;
    background-color: $grey-light;
    font-size: 14px;
    line-height: 14px;
  }

  .example__statistics-weightloss .example__statistics-mark {
    width: 112px;
  }

  .example__costs-block {
    margin-top: 55px;
  }

  .example__cost {
    font-size: 20px;
  }

  .example__cost-value {
    margin-left: 60px;
  }
}
