.features {
  margin: 0 auto;
}

.features__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: inherit;
  color: $black;

  @include oswald-arial;
}

@media (max-width: $mobile-max) {
  .features__title {
    margin-top: 23px;
    margin-bottom: 38px;
  }

  .features__item {
    position: relative;
    line-height: 18px;
    margin-left: 80px;
    margin-bottom: 15px;
    padding-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -80px;
      width: 60px;
      height: 60px;
      background-color: $green;
    }
  }

  .features__item--health::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -75px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-leaf@1x.png");
  }

  .features__item--application::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -75px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-powder@1x.png");
  }

  .features__item--food::after {
    content: "";
    position: absolute;
    top: 3px;
    left: -75px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-dining@1x.png");
  }

  .features__item--result {
    br {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: -75px;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .features {
    border-bottom: 1px solid $grey-e6;
  }

  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: -40px;
  }

  .features__item {
    position: relative;
    margin-top: 100px;
    margin-bottom: 150px;
    width: 250px;

    &::before {
      content: "";
      position: absolute;
      top: -110px;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: $green;
    }
  }

  .features__item--health::after {
    content: "";
    position: absolute;
    top: -95px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
  }

  .features__item--application::after {
    content: "";
    position: absolute;
    top: -95px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
  }

  .features__item--food::after {
    content: "";
    position: absolute;
    top: -95px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
  }

  .features__item--result::after {
    content: "";
    position: absolute;
    top: -95px;
    left: 15px;
    width: 50px;
    height: 50px;
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
  }

  .features__item-number {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    z-index: -1;


    &--1 {
      top: -110px;
      right: 55px;
      width: 71px;
      height: 227px;
      background-image: url("../img/icon-number-1.svg");
    }

    &--2 {
      top: -110px;
      right: 15px;
      width: 113px;
      height: 229px;
      background-image: url("../img/icon-number-2.svg");
    }

    &--3 {
      top: -112px;
      right: 13px;
      width: 112px;
      height: 232px;
      background-image: url("../img/icon-number-3.svg");
    }

    &--4 {
      top: -110px;
      right: 5px;
      width: 121px;
      height: 227px;
      background-image: url("../img/icon-number-4.svg");
    }
  }

  .features__item:not(:nth-child(2n)) {
    margin-right: 135px;
  }

  .features__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop) {
  .features {
    margin-bottom: 260px;
  }

  .features__title {
    font-size: 60px;
    line-height: 60px;
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    margin-top: 185px;
  }

  .features__item {
    position: relative;
    margin-right: 100px;

    &::before {
      content: "";
      position: absolute;
      top: -115px;
      left: 0;
      width: 80px;
      height: 80px;
      background-color: $green;
    }
  }

  .features__item--health {
    width: 350px;
    margin-right: 120px;

    &::after {
      content: "";
      position: absolute;
      top: -100px;
      left: 15px;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
    }
  }

  .features__item--application {
    width: 380px;

    &::after {
      content: "";
      position: absolute;
      top: -100px;
      left: 15px;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
    }
  }

  .features__item--food {
    width: 380px;

    &::after {
      content: "";
      position: absolute;
      top: -100px;
      left: 15px;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
    }
  }

  .features__item--result {
    width: 415px;
    margin-right: 0;

    &::after {
      content: "";
      position: absolute;
      top: -100px;
      left: 15px;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
    }
  }

  .features__item-number {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    z-index: -1;


    &--1 {
      top: -110px;
      right: 5px;
      width: 71px;
      height: 227px;
      background-image: url("../img/icon-number-1.svg");
    }

    &--2 {
      top: -110px;
      right: -5px;
      width: 113px;
      height: 229px;
      background-image: url("../img/icon-number-2.svg");
    }

    &--3 {
      top: -110px;
      right: -5px;
      width: 112px;
      height: 232px;
      background-image: url("../img/icon-number-3.svg");
    }

    &--4 {
      top: -110px;
      width: 121px;
      height: 227px;
      background-image: url("../img/icon-number-4.svg");
    }
  }
}
