.form__row-label,
.form__row-input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include oswald-arial;
}

.form__radio-label,
.form__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include oswald-arial;
}

.form__block-subtitle {
  font-size: 24px;
  font-weight: inherit;
  line-height: 26px;
  color: $black;

  @include oswald-arial;
}

.form__text-input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include oswald-arial;
}

.form__submit-note {
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

@media (max-width: $mobile-max) {
  .form {
    margin-bottom: 40px;
  }

  .form__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .form__row-label {
    white-space: nowrap;
    margin-right: 20px;
  }

  .form__row-input {
    width: 100%;
    border: 1px solid $grey-e7;
  }

  .form__row-input--contacts {
    border: 1px solid $grey-cd;
  }

  .form__radio {
    display: flex;
    flex-direction: row;
  }

  .form__radio-input,
  .form__checkbox-input {
    margin-right: 10px;
  }

  .form__block--program {
    border-top: 1px solid $grey-d9;
    border-bottom: 1px solid $grey-d9;
    padding: 10px 0;
  }

  .form__text-input--comment {
    width: 100%;
    min-height: 150px;
    resize: none;
    border: 1px solid $grey-e7;
    padding-top: 15px;
    padding-left: 20px;
  }

  .form__submit-block {
    margin-bottom: 20px;
  }

  .form__submit-button {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .form__submit-note {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .form {
    margin-bottom: 40px;
  }

  .form__row {
    display: flex;
    margin-bottom: 20px;
  }

  .form__row-input::placeholder,
  .form__text-input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__row-label {
    white-space: nowrap;
    margin-right: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__radio-label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 10px;
  }

  .form__row-input {
    width: 100%;
    border: 1px solid $grey-e7;
    padding: 10px 0 10px 15px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__row-input--contacts {
    border: 1px solid $grey-cd;
  }

  .form__block--program {
    border: 1px solid $grey-e7;
    padding-left: 20px;
  }

  .form__text-input--comment {
    width: 100%;
    min-height: 174px;
    resize: none;
    border: 1px solid $grey-e7;
    padding-top: 15px;
    padding-left: 20px;
  }

  .form__checkbox-fields {
    display: flex;
    margin-bottom: 20px;
  }

  .form__checkbox-label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
  }

  .form__checkbox {
    margin-bottom: 20px;
  }

  .form__checkbox-fields-1 {
    margin-right: 130px;
  }

  .form__submit {
    display: flex;
  }

  .form__submit-block {
    margin-right: 40px;
  }

  .form__submit-button {
    width: 260px;
    text-align: center;
    padding: 10px 0;
  }

  .form__submit-note {
    margin-top: 10px;
  }
}

@media (min-width: $desktop) {
  .form {
    margin-bottom: 80px;
  }

  .form__layout {
    display: flex;
    flex-direction: row;
  }

  .form__row {
    display: flex;
    width: 535px;
  }

  .form__row-label {
    white-space: nowrap;
    margin-right: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__radio-fields {
    padding-top: 10px;
    padding-left: 20px;
  }

  .form__radio-label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__radio {
    margin-bottom: 20px;
  }

  .form__row-input {
    width: 100%;
    border: 1px solid $grey-e7;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 10px 15px;
  }

  .form__block--cat {
    margin-right: 80px;
  }

  .form__block--program {
    width: 568px;
    height: 200px;
    border: 1px solid $grey-e7;
  }

  .form__text-fields--contacts {
    display: flex;
    justify-content: space-between;
  }

  .form__row-input--contacts {
    border: 1px solid $grey-cd;
  }

  .form__text-input--comment {
    width: 1220px;
    min-height: 174px;
    resize: none;
    border: 1px solid $grey-e7;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__checkbox-fields {
    display: flex;
    margin-bottom: 40px;
  }

  .form__checkbox-fields-1,
  .form__checkbox-fields-2 {
    width: 450px;
    display: flex;
    justify-content: space-between;
  }

  .form__checkbox-fields-1 {
    margin-right: 200px;
    margin-left: 40px;
  }

  .form__checkbox-label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
  }

  .form__submit-button {
    width: 550px;
    text-align: center;
    padding: 10px 0;
  }

  .form__submit-note {
    display: none;
  }
}
