.form__row-label,
.form__row-input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include oswald-arial;
}

.form__row-input::placeholder,
.form__text-input::placeholder {
  color: $grey-dark;
}

.form__radio-label,
.form__checkbox-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include oswald-arial;
}

.form__radio-label {
  color: $black3;
}

.form__checkbox-label {
  color: $black;
}

.form__block-subtitle {
  font-size: 24px;
  font-weight: inherit;
  line-height: 26px;
  color: $black;
  background-color: $white;

  @include oswald-arial;
}

.form__text-input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include oswald-arial;
}

.form__submit-note {
  font-size: 14px;
  line-height: 16px;
  color: $black;
}

.form__radio,
.form__checkbox {
  position: relative;
}

.form__radio-input,
.form__checkbox-input {
  appearance: none;
}

.form__radio-input + .form__radio-label,
.form__checkbox-input + .form__checkbox-label {
  cursor: pointer;
}

.form__radio-input + .form__radio-label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $grey-cd;
}

.form__radio-input:checked + .form__radio-label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 8px;
  width: 13.5px;
  height: 13.5px;
  background-color: $green;
  border-radius: 50%;
}

.form__checkbox-input + .form__checkbox-label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $grey-cd;
}

.form__checkbox-input:checked + .form__checkbox-label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 19px;
  height: 15px;
  background-image: url("../img/icon-check-mark.svg");
}

/* hover, active, focus */

.form__radio-input:hover + .form__radio-label::before {
  border: 1px solid $grey-ba;
}

.form__radio-input:active + .form__radio-label::before {
  border: 1px solid rgba($grey-ba, 0.3);
}

.form__radio-input:focus + .form__radio-label {
  opacity: 0.3;
}

.form__checkbox-input:hover + .form__checkbox-label::before {
  border: 1px solid $grey-ba;
}

.form__checkbox-input:active + .form__checkbox-label::before {
  border: 1px solid rgba($grey-ba, 0.3);
}

.form__checkbox-input:focus + .form__checkbox-label {
  opacity: 0.3;
}

.form__row-email,
.form__row-phone {
  position: relative;
}

.form__row-icon-mail,
.form__row-icon-phone {
  content: "";
  position: absolute;
  top: 17px;
  right: 15px;
}

.form__row-icon-phone {
  right: 7px;
}

.form__row-input {
  outline: none;

  &:invalid {
    outline: 2px solid $red-light;
  }

  &:invalid + .form__row-icon {
    fill: $red-light;
  }

  &:hover {
    outline: 1px solid $grey-cd;
  }

  &:active,
  &:focus {
    outline: 2px solid $grey-dark;
  }

  &:active + .form__row-icon,
  &:focus + .form__row-icon {
    fill: $green;
  }
}

@media (max-width: $mobile-max) {
  .form {
    margin-bottom: 40px;
  }

  .form__block--contacts .form__block-subtitle {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .form__block-subtitle {
    padding-right: 25px;
  }

  .form__row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }

  .form__checkbox-fields {
    margin-top: 45px;
    margin-bottom: 40px;
  }

  .form__checkbox {
    margin-bottom: 23px;
  }

  .form__row-label {
    white-space: nowrap;
    margin-right: 15px;
    margin-top: 15px;
  }

  .form__text-fields--contacts {
    padding-top: 10px;
    margin-bottom: 35px;
  }

  .form__text-fields--contacts .form__row-label {
    margin-right: 10px;
  }

  .form__row-icon-phone {
    top: 12px;
    right: 13px;
  }

  .form__row-input {
    width: 100%;
    border: 1px solid $grey-e7;
    padding: 13px 15px 13px 15px;

    &--contacts {
      border: 1px solid $grey-cd;
    }
  }

  .form__radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }

  .form__radio-label {
    margin-left: 30px;
  }

  .form__checkbox-label {
    margin-left: 28px;
  }

  .form__radio-input,
  .form__checkbox-input {
    margin-right: 10px;
  }

  .form__block--program {
    border-top: 1px solid $grey-d9;
    border-bottom: 1px solid $grey-d9;
    padding: 20px 20px 0 20px;
    margin: 0 -20px 30px -20px;
  }

  .form__text-input--comment {
    width: 100%;
    min-height: 150px;
    resize: none;
    border: 1px solid $grey-e7;
    padding-top: 15px;
    padding-left: 15px;
  }

  .form__block--comment {
    margin-bottom: 30px;
  }

  .form__submit-block {
    margin-bottom: 20px;
  }

  .form__submit-button {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    font-size: 16px;
  }

  .form__submit-note {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .form {
    margin-bottom: 75px;
  }

  .form__block--cat {
    margin-bottom: 80px;
  }

  .form__block-subtitle {
    padding: 0 40px;
    margin-left: 30px;
  }

  .form__row {
    display: flex;
    margin-bottom: 20px;
  }

  .form__row-icon-mail,
  .form__row-icon-phone {
    top: 17px;
    right: 15px;
  }

  .form__row-icon-mail {
    top: 20px;
  }

  .form__row-icon-phone {
    right: 12px;
  }

  .form__radio-input + .form__radio-label::before {
    top: -5px;
    left: 5px;
    width: 40px;
    height: 40px;
  }

  .form__radio-input:checked + .form__radio-label::after {
    top: 6px;
    left: 16px;
    width: 18px;
    height: 18px;
  }

  .form__checkbox-input + .form__checkbox-label::before {
    top: -5px;
    left: 0;
    width: 40px;
    height: 40px;
  }

  .form__checkbox-input:checked + .form__checkbox-label::after {
    top: 8px;
    left: 11px;
    width: 19px;
    height: 15px;
    background-image: url("../img/icon-check-mark.svg");
  }

  .form__radio {
    margin-bottom: 22px;
  }

  .form__row-input::placeholder,
  .form__text-input::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .form__row-label {
    white-space: nowrap;
    margin-right: 20px;
    margin-top: 13px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__text-fields--contacts .form__row-label {
    margin-top: 10px;
  }

  .form__row-phone .form__row-label {
    margin-right: 15px;
  }

  .form__radio-label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 52px;
  }

  .form__row-input {
    width: 100%;
    border: 1px solid $grey-e7;
    padding: 10px 0 10px 15px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__text-fields--contacts {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .form__row-input--contacts {
    border: 1px solid $grey-cd;
    padding-left: 18px;
    padding-top: 8px;
  }

  .form__block--program {
    border: 1px solid $grey-e7;
    padding: 10px 0 15px 23px;
    margin-bottom: 88px;
  }

  .form__block--comment {
    margin-bottom: 88px;
  }

  .form__text-input--comment {
    width: 100%;
    min-height: 174px;
    resize: none;
    border: 1px solid $grey-e7;
    padding-top: 15px;
    padding-left: 20px;
  }

  .form__text {
    margin-top: 10px;
  }

  .form__checkbox-fields {
    margin-top: -22px;
    margin-bottom: 40px;
  }

  .form__checkbox-fields-1,
  .form__checkbox-fields-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__checkbox-fields-1 {
    margin-right: 97px;
  }

  .form__checkbox-fields-2 {
    margin-right: 135px;
  }

  .form__checkbox-label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 48px;
  }

  .form__checkbox {
    margin-bottom: 25px;

    &:nth-child(2n) {
      margin-bottom: 0;
    }
  }

  .form__submit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 125px;
  }

  .form__submit-block {
    width: 100%;
    margin-right: 60px;
    margin-top: -10px;
  }

  .form__submit-button {
    width: 100%;
    text-align: center;
    padding: 11px 0;
    font-size: 20px;
  }

  .form__submit-note {
    margin-top: 10px;
    white-space: nowrap;
    font-size: 16px;
    line-height: 16px;
    margin-right: -20px;
  }
}

@media (min-width: $desktop) {
  .form {
    margin-bottom: 80px;
  }

  .form__block-subtitle {
    padding: 0 35px;
    margin-left: 73px;
  }

  .form__layout {
    display: flex;
    flex-direction: row;
    margin-bottom: -15px;
  }

  .form__row {
    display: flex;
    width: 569px;
    margin-bottom: 20px;
  }

  .form__row-icon-mail,
  .form__row-icon-phone {
    top: 17px;
    right: 20px;
  }

  .form__row-icon-mail {
    top: 20px;
  }

  .form__radio-input + .form__radio-label::before {
    top: -5px;
    left: 5px;
    width: 40px;
    height: 40px;
  }

  .form__radio-input:checked + .form__radio-label::after {
    top: 6px;
    left: 16.2px;
    width: 18px;
    height: 18px;
  }

  .form__radio {
    margin-bottom: 20px;
  }

  .form__checkbox-input + .form__checkbox-label::before {
    top: -5px;
    left: 0;
    width: 40px;
    height: 40px;
  }

  .form__checkbox-input:checked + .form__checkbox-label::after {
    top: 8px;
    left: 11px;
    width: 19px;
    height: 15px;
    background-image: url("../img/icon-check-mark.svg");
  }

  .form__row-label {
    white-space: nowrap;
    margin-right: 20px;
    margin-top: 13px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__radio-fields {
    padding-top: 10px;
    padding-left: 20px;
  }

  .form__radio-label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 55px;
  }

  .form__row-input {
    width: 100%;
    border: 1px solid $grey-e7;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 10px 15px;
  }

  .form__block--cat {
    margin-right: 80px;
  }

  .form__block--program {
    width: 568px;
    height: 200px;
    border: 1px solid $grey-e7;
    padding: 10px 0 5px 0;
    margin-top: 10px;
  }

  .form__block--contacts {
    margin: 80px 0;
  }

  .form__text-fields--contacts {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: -20px;
  }

  .form__row-input--contacts {
    border: 1px solid $grey-cd;
  }

  .form__block--comment {
    margin-bottom: 90px;
  }

  .form__text-input--comment {
    width: 100%;
    min-height: 174px;
    resize: none;
    border: 1px solid $grey-e7;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__checkbox-fields {
    display: flex;
    margin-bottom: 55px;
    margin-top: -25px;
  }

  .form__checkbox-fields-1,
  .form__checkbox-fields-2 {
    width: 546px;
    display: flex;
  }

  .form__checkbox-fields-1 {
    margin-right: 105px;
  }

  .form__checkbox-1 {
    margin-right: 110px;
  }

  .form__checkbox-2 {
    margin-right: 200px;
  }

  .form__checkbox-label {
    font-size: 20px;
    line-height: 30px;
    margin-left: 45px;
  }

  .form__submit-button {
    width: 568px;
    text-align: center;
    padding: 11px 0;
    margin-right: 85px;
    font-size: 20px;
  }

  .form__submit {
    display: flex;
  }

  .form__submit-note {
    margin-top: 15px;
    font-size: 16px;
    line-height: 16px;
  }
}
