.intro {
  text-align: center;
  color: $white;
  background-color: $green-bg;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom;
  margin-bottom: 140px;
  width: 100%;
  height: 305px;

  @include oswald-arial;
}

.intro__title {
  line-height: 36px;
  font-size: 36px;
  font-weight: inherit;
}

.intro__advice {
  text-transform: uppercase;
}

@media (max-width: $mobile-max) {
  .intro__img {
    display: block;
    width: 280px;
    margin: 0 auto;
  }

  .intro__button-block {
    padding: 0 20px;
  }

  .intro__button {
    width: 100%;
    padding: 10px 0;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .intro {
    position: relative;
    background: none;
    color: $black;
  }

  .intro__text {
    text-align: left;
    width: 300px;
    white-space: wrap;
    margin-left: 100px;
  }

  .intro__button {
    position: absolute;
    bottom: 90px;
    left: 100px;
    padding: 10px 30px;
  }
}

@media (min-width: $desktop) {
  .intro {
    position: relative;
  }

  .intro__text {
    text-align: left;
    width: 300px;
    white-space: wrap;
    margin-left: 130px;
    color: $black;
  }

  .intro__button {
    position: absolute;
    bottom: 90px;
    left: 130px;
    padding: 10px 30px;
  }
}
