.intro {
  color: $white;
  background-color: $green-bg;
  background-image: linear-gradient(to top, $white 175px, transparent 175px), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center bottom 175px;

  @include oswald-arial;
}

.intro__title {
  line-height: 36px;
  font-size: 36px;
  font-weight: inherit;
}

.intro__advice {
  text-transform: uppercase;
}

@media (max-width: $mobile-max) {
  .intro {
    @media (min-resolution: $retina-dppx) {
      background-image: linear-gradient(to top, $white 175px, transparent 175px), url("../img/index-background-mobile@2x.jpg");
      background-size: auto, 320px auto;
    }
  }

  .intro__img {
    display: block;
    width: 280px;
    margin: 0 auto;
  }

  .intro__text {
    text-align: center;
    padding: 0 20px;
  }

  .intro__button-block {
    padding: 0 20px;
  }

  .intro__button {
    width: 100%;
    padding: 10px 0;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .intro {
    position: relative;
    background: none;
    color: $black;
    margin-bottom: 20px;
  }

  .intro__text {
    text-align: left;
    width: 450px;
    margin-left: 125px;
  }

  .intro__advice {
    font-size: 20px;
    line-height: 20px;
  }

  .intro__button {
    position: absolute;
    top: 280px;
    left: 125px;
    padding: 10px 40px;
  }

  .intro__img {
    display: block;
    margin-left: 15px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
}

@media (min-width: $desktop) {
  .intro {
    position: relative;
    background: none;
    margin-bottom: 330px;

    &::after {
      content: "";
      position: absolute;
      top: -40%;
      right: 0;
      width: 50%;
      min-height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-color: $green-bg;
      background-repeat: no-repeat;
      background-position: center 20px;
      background-size: cover;
      z-index: -1;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .intro__text {
    margin-left: 80px;
    text-align: left;
    width: 450px;
    color: $black;
  }

  .intro__advice {
    font-size: 20px;
    line-height: 20px;
  }

  .intro__button {
    margin-left: 80px;
    margin-top: 20px;
    padding: 10px 40px;
  }

  .intro__img {
    position: absolute;
    top: 5%;
    left: 38.7%;
  }
}
