.main-nav__toggle {
  display: none;
}

@media (max-width: $mobile-max) {
  .main-nav {
    position: relative;
  }

  .main-nav--open .site-list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list {
    display: block;
  }

  .main-nav__toggle {
    display: block;
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    top: -43px;
    right: -3px;
    cursor: pointer;
    border: none;
  }

  .main-nav--open .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 3px;
    width: 24px;
    height: 1.5px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
  }

  .main-nav--close .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 13px;
      left: 3px;
      width: 24px;
      height: 1.5px;
      background-color: $black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
