.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-bottom: -20px;
}

.page-header__logo-block:hover a[href] {
  opacity: 0.8;
}

.page-header__logo-block:active a[href] {
  opacity: 0.6;
}

@media (max-width: $mobile-max) {
  .page-header__logo-block {
    margin-bottom: 10px;
  }

  .page-header__logo {
    margin-right: 50px;
  }
}

@media (min-width: $tablet) {
  .page-header__container {
    display: flex;
    justify-content: space-between;
  }

  .page-header__logo-sign {
    display: none;
  }
}

@media (min-width: $desktop) {
  .page-header__container {
    padding-top: 40px;
  }
}
