// form
.page-main__title {
  font-size: 36px;
  font-weight: inherit;
  line-height: 36px;
  color: $black;

  @include oswald-arial;
}

.page-main__lead {
  line-height: 18px;
  color: $black;
  text-transform: uppercase;
  margin-right: 20px;

  @include oswald-arial;
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
  }

  .page-main__wrapper-tablet {
    padding: 0 40px;
  }
}

@media (min-width: $desktop) {
  .page-main__title {
    font-size: 60px;
    line-height: 60px;
  }

  .page-main__lead-block {
    width: 350px;
  }

  .page-main__lead {
    font-size: 20px;
    line-height: 30px;
  }
}
