.product__list {
  margin-top: 20px;
  padding-bottom: 20px;
}

.product__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: inherit;
  color: $black;

  @include oswald-arial;
}

.product__item-title {
  line-height: 20px;
  font-weight: inherit;

  @include oswald-arial;
}

.product__item-link {
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
}

.product__info-value--price {
  text-transform: uppercase;
}

.product__more-title {
  font-size: 16px;
  line-height: 20px;
  color: $black2;
  text-transform: uppercase;
  font-weight: inherit;

  @include oswald-arial;
}

.product__more-lead {
  font-size: 12px;
  line-height: 16px;
}

.product__item--more {
  position: relative;
}

.product__more::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 0;
  left: 45%;
  background-color: $grey-d3;
}

.product__more::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 0;
  left: 45%;
  background-color: $grey-d3;
  transform: rotate(90deg);
}

@media (max-width: $mobile-max) {
  .product__title {
    padding: 30px 20px 40px 20px;
    border-top: 1px solid $grey-eb;
    border-bottom: 1px solid $grey-eb;
    margin-top: 0;
    margin-bottom: 0;
  }

  .product__item {
    padding: 0 20px;
    margin-top: 40px;
    border-bottom: 1px solid $grey-eb;
  }

  .product__item-wrap-mobile {
    display: flex;
    flex-direction: row;
  }

  .product__info-item {
    width: 142px;
    display: flex;
    justify-content: space-between;
  }

  .product__info-block {
    margin-top: -40px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .product__item-title {
    width: 100px;
    margin-right: 50px;
    margin-top: 20px;
    text-align: left;
  }

  .product__info-list {
    margin-top: -5px;
    margin-right: 8px;
  }

  .product__img-block {
    margin-top: -40px;
    width: 100%;
  }

  .product__link-block {
    margin-top: -5px;
    margin-bottom: 25px;
  }

  .product__link-order {
    width: 100%;
    text-align: center;
    padding: 11px 0;
    font-size: 16px;
  }

  .product__item--more {
    text-align: center;
    padding-top: 20px;
  }

  .product__more {
    width: 100%;
  }

  .product__more-title {
    margin-bottom: -5px;
  }

  .product__link-block-more {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .product__link-more {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .product__wrapper {
    padding: 0 30px;
    margin-bottom: -90px;
  }

  .product__title {
    margin-top: 63px;
    margin-bottom: 160px;
  }

  .product__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product__item-title {
    width: 145px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 20px;
    text-align: center;
  }

  .product__item-link {
    font-size: 20px;
    line-height: 24px;
  }

  .product__img-block {
    position: absolute;
    bottom: 69%;
    left: 0%;
  }

  .product__item {
    padding: 0 37px;
    position: relative;
    background-color: $grey-light;
    margin-bottom: 140px;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-left: 30px;
      margin-right: 0;
    }
  }

  .product__info-item {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-cd;
  }

  .product__link-block {
    margin-top: 35px;
    margin-bottom: 40px;
  }

  .product__link-order {
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }

  .product__item--more {
    background-color: $white;
    border: 2px solid $grey-light;
    padding: 0;
  }

  .product__more-title {
    font-size: 20px;
    line-height: 22px;
  }

  .product__more-lead {
    font-size: 16px;
    line-height: 18px;
    margin-top: 25px;
  }

  .product__more {
    width: 170px;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;

    &::before {
      width: 60px;
      top: 18%;
      left: 41%;
    }

    &::after {
      width: 60px;
      top: 18%;
      left: 41%;
    }
  }

  .product__link-block-more {
    padding: 0 35px;
    margin-top: 90px;
  }

  .product__link-more {
    width: 100%;
    padding: 8px 0;
    text-align: center;
  }
}

@media (min-width: $desktop) {
  .product__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -75px;
  }

  .product__title {
    margin-top: 80px;
    margin-bottom: 160px;
  }

  .product__item {
    width: 245px;
    position: relative;
    background-color: $grey-light;
    margin-right: 80px;
    margin-bottom: 140px;
    padding: 0 37px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .product__item-title {
    width: 145px;
    margin: 0 auto;
    margin-top: 165px;
    margin-bottom: 18px;
    text-align: center;
  }

  .product__item-link {
    font-size: 20px;
    line-height: 21px;
  }

  .product__img-block {
    position: absolute;
    bottom: 68%;
    left: 0%;
  }

  .product__info-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-cd;
  }

  .product__link-block {
    margin-top: 35px;
    margin-bottom: 40px;
  }

  .product__link-order {
    text-align: center;
    padding: 8px 0;
    width: 168px;
  }

  .product__item--more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: 2px solid $grey-light;
    padding: 0;
  }

  .product__more-title {
    font-size: 20px;
    line-height: 22px;
  }

  .product__more-lead {
    font-size: 16px;
    line-height: 18px;
    margin-top: 25px;
  }

  .product__more {
    width: 170px;
    text-align: center;
    margin-top: 20px;

    &::before {
      width: 60px;
      top: 20%;
      left: 37.5%;
    }

    &::after {
      width: 60px;
      top: 20%;
      left: 37.5%;
    }
  }

  .product__link-more {
    padding: 8px 0;
    width: 169px;
    text-align: center;
    margin-bottom: -140px;
  }
}
