.programs__item {
  background-color: $grey-light;
}

.programs__item-title {
  font-size: 24px;
  line-height: 37px;
  font-weight: inherit;
  text-transform: uppercase;
  color: $black;

  @include oswald-arial;
}

.programs__item-description {
  font-size: 14px;
  line-height: 18px;
}

.programs__item-link {
  position: relative;
  color: $black;
  text-decoration: inherit;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @include oswald-arial;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -47px;
    width: 32px;
    height: 10px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

.programs__item::after {
  content: "";
  position: absolute;
  top: auto;
  right: auto;
  background-repeat: no-repeat;
  z-index: 1;
}

.programs__item--slim::after {
  position: absolute;
  background-image: url("../img/icon-cat-slim.svg");
}

.programs__item--pro::after {
  position: absolute;
  background-image: url("../img/icon-cat-pro.svg");
}

@media (max-width: $mobile-max) {
  .programs__item {
    position: relative;
    min-height: 266px;
    padding-top: 5px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 22px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $green;
    }
  }

  .programs__item--slim::after {
    top: 17px;
    left: 30px;
    width: 36.02px;
    height: 50px;
  }

  .programs__item--pro::after {
    top: 32px;
    left: 13px;
    width: 67.03px;
    height: 28.08px;
  }

  .programs__item-title {
    padding-left: 70px;
  }

  .programs__item-wrap {
    margin-top: 23px;
    padding-top: 20px;
    border-top: 1px solid $grey-d9;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .programs__item {
    position: relative;
    min-height: 372px;
    padding-left: 52px;
    padding-top: 40px;
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 93px;
      right: 61px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $green;
    }
  }

  .programs {
    margin-bottom: -5px;
  }

  .programs__item--slim::after {
    top: 81px;
    right: 92px;
    width: 140px;
    height: 192px;
  }

  .programs__item--pro::after {
    top: 136px;
    right: 28px;
    width: 268px;
    height: 112px;
  }

  .programs__item-title {
    font-size: 36px;
    line-height: 36px;
  }

  .programs__item-description {
    margin-right: 280px;
    margin-top: -10px;
    color: $black;
    font-size: 16px;
    line-height: 24px;
  }

  .programs__item--pro .programs__item-description {
    margin-right: 312px;
  }

  .programs__item-link {
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 10px;
      right: -58px;
    }
  }

  .programs__item-wrap {
    position: relative;
    margin-top: 50px;
    margin-left: 0;
  }
}

@media (min-width: $desktop) {
  .programs__layout {
    display: flex;
    padding-bottom: 20px;
  }

  .programs__item {
    position: relative;
    width: 570px;
    min-height: 374px;
    padding-top: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 45px;
      left: 52px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $green;
    }
  }

  .programs__item--slim::after {
    top: 38px;
    left: 65px;
    width: 70px;
    height: 97px;
  }

  .programs__item--pro::after {
    top: 68px;
    left: 34px;
    width: 134px;
    height: 56px;
  }

  .programs__item--slim {
    margin-right: auto;
  }

  .programs__item-title {
    padding-left: 213px;
    font-size: 36px;
    line-height: 36px;
  }

  .programs__item-description {
    font-size: inherit;
    line-height: inherit;
    margin-left: 52px;
    margin-right: 50px;
    margin-top: 73px;
    color: $black;
  }

  .programs__item-link {
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 10px;
      right: -55px;
    }
  }

  .programs__item-wrap {
    margin-top: 25px;
    margin-left: 52px;
  }
}
