.promo-block__title {
  line-height: 20px;
  font-weight: inherit;
}

.promo-block__link {
  color: $white;
  text-decoration: none;
}

.promo-block__img-block {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 55.5px;
    height: 60px;
    top: 63px;
    left: 113px;
    background: url("../img/icon-gift.svg");
  }
}

@media (max-width: $mobile-max) {
  .promo-block {
    width: 280px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-top: 1px solid $grey-cd;
    padding-top: 40px;
    position: relative;
  }

  .promo-block__img-block {
    width: 280px;
    height: 289px;
    background-color: $green;
    margin: 0 auto;
  }

  .promo-block__title {
    position: absolute;
    bottom: 8%;
    right: 19%;
    width: 175px;
    text-align: center;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .promo-block {
    width: 706px;
    margin: 0 auto;
    position: relative;
    margin-top: 65px;
    margin-bottom: 80px;
  }

  .promo-block__img-block {
    width: 706px;
    height: 200px;
    background-color: $green;
    margin: 0 auto;

    &::before {
      top: 70px;
      left: 90px;
    }
  }

  .promo-block__title {
    position: absolute;
    bottom: 20%;
    right: 15%;
    width: 175px;
    text-align: left;
  }

  .promo-block__link {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop) {
  .promo-block {
    position: relative;
    margin-left: 80px;
    margin-top: 10px;
  }

  .promo-block__img-block {
    width: 245px;
    height: 289px;
    background-color: $green;
    margin: 0;
    padding: 0;

    &::before {
      top: 65px;
      left: 95px;
    }
  }

  .promo-block__title {
    position: absolute;
    bottom: 25px;
    right: 45px;
    width: 150px;
    text-align: center;
  }

  .promo-block__link {
    font-size: 16px;
    line-height: 20px;
  }
}
