.site-list__item {
  margin-bottom: 20px;
}

.site-list__item-link {
  font-size: 20px;
  line-height: 30px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;

  @include oswald-arial;
}

.site-list {
  padding-top: 30px;
}

.site-list__item--active {
  padding-bottom: 5px;
  border-bottom: 2px solid $green;
}

@media (min-width: $tablet) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 440px;
  }
}
