.site-list__item {
  text-align: center;
}

.site-list__item-link {
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;

  @include oswald-arial;
}

.site-list__item--active {
  padding-bottom: 5px;
  border-bottom: 2px solid $green;
}

@media (max-width: $mobile-max) {
  .site-list__item-link {
    font-weight: 700;
  }

  .site-list__item {
    border-top: 1px solid $grey-e6;
    margin: 0 -20px;
    padding: 20px 0;

    &--active {
      border: none;
    }
  }
}

@media (min-width: $tablet) {
  .site-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 440px;
  }

  .site-list__item-link {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: $desktop) {
  .site-list__item--index {
    color: $white;
  }

  .site-list__item-link {
    font-size: 20px;
    line-height: 30px;
  }

  .site-list__item--index.site-list__item--active {
    padding-bottom: 5px;
    border-bottom: 2px solid $white;
  }
}
