.social__link {
  text-decoration: none;
  color: $grey-dark;
}

.social__item-icon {
  fill: $grey-66;
}

.social__link:hover .social__item-icon,
.social__link:focus .social__item-icon {
  fill: $green;
}

.social__link:active .social__item-icon {
  opacity: 0.3;
}

@media (max-width: $mobile-max) {
  .social-list {
    display: flex;
    margin-left: 35px;
  }

  .social-item {
    margin-right: 40px;
  }

  .social {
    margin-bottom: 30px;
  }

  .social__item-icon--vk {
    width: 23px;
    height: 16px;
  }

  .social__item-icon--ins {
    width: 16px;
    height: 16px;
  }

  .social__item-icon--fb {
    width: 22px;
    height: 22px;
  }
}

@media (min-width: $tablet) {
  .social-list {
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
  }

  .social-item {
    margin-right: 20px;
  }
}

@media (min-width: $desktop) {
  .social-list {
    margin-left: 60px;
  }
}
