@media (min-width: $tablet) and (max-width: $tablet-max) {
  .subtitle {
    font-size: 30px;
    line-height: 30px;
  }
}


@media (min-width: $desktop) {
  .subtitle {
    font-size: 36px;
    line-height: 36px;
  }
}
