.toggle__label {
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  @include oswald-arial;
}

.toggle__input {
  display: none;
}

@media (max-width: $mobile-max) {
  .toggle__control {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toggle__item-img {
    display: block;
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet) and (max-width: $tablet-max) {
  .toggle__item {
    position: absolute;
    width: 650px;
    height: 517px;

    &--before {
      top: 35%;
      left: 5%;
    }

    &--after {
      top: 35%;
      left: 15%;
    }
  }

  .toggle__control {
    position: absolute;
    bottom: 5%;
    left: 30%;
    display: flex;
  }
}

@media (min-width: $desktop) {
  .toggle__item {
    position: absolute;
    width: 690px;
    height: 517px;

    &--before {
      top: -40%;
      left: 45%;
    }

    &--after {
      top: -40%;
      left: 50%;
    }
  }

  .toggle__control {
    position: absolute;
    bottom: 15%;
    left: 60%;
    display: flex;
  }
}
