//basic colors
$white: #ffffff;
$black: #000000;
$black2: #111111;
$black3: #222222;
$black4: #666666;
$green: #68b738;
$green-hover: #5eaa2f;
$grey-dark: #444444;
$grey-light: #f2f2f2;
$grey-ea: #eaeaea;
$grey-cd: #cdcdcd;
$grey-66: #666666;
$grey-d3: #d3d3d3;
$grey-d9: #d9d9d9;
$grey-eb: #ebebeb;
$grey-e7: #e7e7e7;
$grey-ba: #bababa;
$red-light: #ff8282;
